body {
  min-height: 100vh;
  margin: 0;
  margin-left: 1em;
  letter-spacing: .1rem;
}
h2,h1,h3,h4,h5,h6 {
  margin: 0;
}
textarea {
  font-size: 2rem;
    height: 15vh;
}
@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hasBlink {
  animation: blink 1.8s infinite;
}

.row {
  display: flex;
  gap: .1em;
}
.row > * {
  display: grid;
  place-content: center;
}

.hasHighlight {
  background: orange;
}

#keyboard-container {
  display: grid;
  place-content: center;
  gap: .1em;
}
#toggle-hide-div{
  display: grid;
  place-content: center;
  margin-bottom: 0.35rem;
}

.mobile-textarea{
  display: none;
}
.result {
  border-radius: 10px;
  border: 5px solid royalblue;
  outline: 4px solid tomato;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3 > span,
h4 > span {
  color: red;
}
