body {
  min-height: 100vh;
  margin: 0;
  margin-left: 1em;

}
textarea {
    width: 50%;
    height: 35vh;
}
@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hasBlink {
  animation: blink 1.8s infinite;
}































































































































/* #board>div>div.highlighted {
  background-color: red !important;
} */
